Restaurant Analysis Requirements


Goal:
Predict Star Rating/Popularity of restaurants.

Technical Requirements:

1 Dataset:
  Downloaded from Yelp https://www.yelp.com/dataset

2 Database:
  Google Cloud Hosted Postgres Server

3 Python3 interpreter or jupyter notbeooks

4 Machine Learning Model:
  TBD

5 Interactive Element:
  Map of all restaurants based on categories/attributes

6 Google Slides:

7 Dashboard:


